@page "/update/{id:int}"
@using BlazorCRUD10Mins.Data

<h1>Update post "@_postToUpdate.Title"</h1>

<EditForm Model="_postToUpdate" OnValidSubmit="UpdatePost">
    <div class="form-group mb-3">
        <label for="postTitle">Title</label>
        <InputText @bind-Value="_postToUpdate.Title" class=form-control id="postTitle" />
    </div>

    <div class="form-group mb-3">
        <label for="postContent">Content</label>
        <InputText @bind-Value="_postToUpdate.Content" class=form-control id="postContent" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-success" type="submit">Save</button>
    <button @onclick="@(() => NavigationManager.NavigateTo("/"))" class="btn btn-secondary">Cancel</button>
</EditForm>

@code
{
    [Inject] AppDBContext AppDBContext { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Parameter] public int id { get; set; }

    private Post _postToUpdate = null;

    protected override async Task OnParametersSetAsync()
    {
        _postToUpdate = await AppDBContext.Posts.FindAsync(id);
    }

    private async Task UpdatePost()
    {
        AppDBContext.Posts.Update(_postToUpdate);
        await AppDBContext.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }
}